  a {text-decoration: none; color: #000000; }  
 /* css last edit mg 20030905 */
  body {background-color: #ffffdd; }
  body {font-style: normal; font-weight: normal; font-family: arial, verdana, sans-serif; margin-right: 15%; margin-left: 10%;}
  h6 a {font-weight: bold; font-size: 75%; margin-top: 1.2em; color: #000099;  margin-bottom: 0.2em;}
  h5 a {font-weight: bold; font-size: 80%; margin-top: 1.2em; color: #000099; margin-bottom: 0.2em;}
  h4 a {font-weight: bold; font-size: 88%; color: #000099; margin-top: 2.5em; margin-bottom: 0.4em;}
  h3 a  {font-weight: bold; font-size: 100%; color: #000099; letter-spacing: 0.04em; margin-top: 2.5em; margin-bottom: 1em;}
  h2 a {font-weight: bold; font-size: 115%; color: #000099; letter-spacing: 0.15em; margin-top: 4em;}
  h1 a {font-weight: bold; font-size: 130%; color: #000099; margin-top: 3em; margin-bottom: 1em; letter-spacing: 0.2em;}
  ul.linklist {list-style: none; margin-left: 0em;}
  ul.linklist ul {list-style: none; margin-left: 2em;}
  .top {font-size: 80%; display: block;}
 /* img {border-width: inherit; border-style: none; border-color: inherit; float: right;} */
  *.box {font-size:95%; border: 1px solid rgb(100,100,100); padding:0.3em}
  *.author {color:#000099; font-size:80%;}
  *.comment {color:#000099; font-size:80%;}
  *.alert {border: 1px solid red; padding: 0.2em; font-size:95%; font-weight:bold;}
  *.action {color: rgb(0,0,153); font-size:90%; border: 1px solid rgb(0,0,50); padding: 0.2em; background-color: rgb(240,240,240); font-weight:bold;}
  div.toc{font-style: italic;  font-weight: normal;  font-size: 90%; margin-top: 2em;  margin-bottom: 2em;}
  div.timestamp {font-style: normal;  color: #000099; font-weight: normal;  font-size: 100%; margin-top: 2em; margin-left: 1em;  margin-bottom: 2em;}
table { width:100%; }
td { border-left: 2px #666666 solid; border-right: 2px #666666 solid; border-top: 2px #666666 solid; border-bottom: 2px #666666 solid; 
margin-left: 10px;}
th { border-left: 2px #666666 solid; border-right: 2px #666666 solid; border-top: 2px #666666 solid; border-bottom: 2px #666666 solid; 
margin-left: 10px; text-align: left;}
.current-hlcl {background-color: yellow; }
.rs-highlight {
	background-color: rgb(190, 255, 214);
}

#EPubPanel {
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  padding: 2px;
}

#EPubPanel img
{
width: 30px;
height: 30px;
}

